@use 'config' as *;

.button {
	background-color: #20b2aa;
	color: #dc143c;
	text-transform: uppercase;

	@include breakpoint(s) {
		background-color: #0ff;
	}

	@include breakpoint(m) {
		background-color: #8a2be2;
	}

	@include breakpoint(l) {
		background-color: #d2691e;
	}

	@include breakpoint(xl) {
		background-color: #d2691e;
	}
}
