include ../heading/index.pug
include ../link/index.pug
include ../text/index.pug

mixin hero()
	div(class=s.hero)&attributes(attributes)
		+text(d.hero.subheading, 'light')
		+heading({text: d.hero.heading, tag: 'h1', modifier: 'h1'})(class=s.text__light)
		+link('Get in touch', '#0')
