@use 'sass:color';
@use 'config' as *;

.hero {
	padding: em($spacing_sm);
	background-image:
		linear-gradient(
			145deg,
			$color_base_forest 45%,
			color.scale(
				$color_base_forest,
				$alpha: -15%
			) 55%
		);

	> *:not(:last-child) {
		margin-bottom: em($spacing_lg);
	}
}
