@forward 'reset';
@forward 'theme';
@use "config" as *;
@use 'button/style' as *;
@use 'header/style' as *;

$color: coral;

h1 {
	background-color: $color;
	font-family: $font_main;
	font-size: 3em;
	line-height: 1.1;
}
