include ../button/index.pug

main(class=s.main)
	h1 Hero
	img(src=require('../assets/images/rocket-64.png').default alt='rocket')
	img(src=require('../assets/images/blue.webp').default alt='blue')
	img(src=require('../assets/images/shuttle.jpg').default alt='shuttle')
