@use 'config' as *;

.logo {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: $size_font_ms_u_3 + em;
	font-weight: 700;
}

#logo_icon {
	width: em($spacing_xlg);
	height: auto;
	margin-inline-end: em($spacing_xsm);
	fill: $color_base_forest;
}
