- const st = require('../styles/style.json');

<!DOCTYPE html>
html(lang='en' dir='ltr')
	head
		include ../head/index.pug
	body
		include ../header/index.pug
		include ../main/index.pug
		include ../footer/index.pug
