@use 'config' as *;

.layout {
	display: grid;
	grid-template-rows: repeat(44, 120px);
	grid-template-columns: repeat(8, 1fr);
	gap: t2c(16, breakpoint_xl);
	background-color: #f5f5f5;

	&_header {
		grid-row: 1 / span 1;
		grid-column: #{$grid_full};

		@include container();

		@include breakpoint(breakpoint_s) {
			grid-column: 2 / -2;

			@include container(false);
		}
	}

	&_main {
		grid-row: 1 / -8;
		grid-column: #{$grid_full};
	}

	&_aside {
		z-index: 1;
		grid-row: span 3 / -6;
		grid-column: 1 / -2;
		border: 3px solid #daa520;
	}

	&_footer {
		grid-row: span 7 / -1;
		grid-column: #{$grid_full};
	}
}
