@use 'config' as *;

.layout {
	display: grid;
	grid-template-rows: repeat(44, 1fr);
	grid-template-columns: repeat(8, 1fr);
	gap: t2c(16, xl);
	background-color: #f5f5f5;

	&__header {
		grid-row: 1 / span 1;
		grid-column: 2 / -2;
	}

	&__main {
		grid-row: 1 / -8;
		grid-column: #{$width_full};
	}

	&__aside {
		z-index: 1;
		grid-row: span 3 / -6;
		grid-column: 1 / -2;
		border: 3px solid #daa520;
	}

	&__footer {
		grid-row: span 7 / -1;
		grid-column: #{$width_full};
	}
}
