block head
	- const title = 'Lithium';

	include ../meta/index.pug

	each css in htmlWebpackPlugin.files.css
		if css.includes('inline')
			style !{compilation.assets[css].source()}
		else
			link(rel='stylesheet' href= css)

	if htmlWebpackPlugin.files.extracted
		each css in sortMq(htmlWebpackPlugin.files.extracted.css)
			link(rel='stylesheet' href= css.file media= css.query)

	title= pageTitle ? `${title} | ${pageTitle}` : title
