extends ../components/layout/index.pug

prepend head
	- const pageTitle = 'Home';

append header
	p Home page header

append main
	p Home page
	img(src=require("../assets/images/rocket-64.png").default alt="")
