@use 'config' as *;

.header {
	z-index: 1;
	display: flex;
	grid-row: 1 / span 1;
	grid-column: 1;
	align-items: center;
	// max-width: 1120px;
	width: 100%;
	background-color: rgb(255, 160, 122, 0.7);

	&__logo {
		text-transform: uppercase;
	}
}
