@use 'config' as *;

.section {
	$block: &;

	grid-column: #{$grid_full};

	&__hero {
		display: grid;
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: inherit;
		grid-row: 1 / span 6;
		gap: inherit;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../assets/images/hero/hero_1.png');
		background-size: cover;

		#{$block}_inner {
			grid-row: 2 / span 3;
			grid-column: 2 / -2;

			@include breakpoint(breakpoint_m) {
				grid-column: 2 / span 3;
			}
		}

		@include breakpoint(breakpoint_s, '<') {
			@include bg_resolution((
				2: '../assets/images/hero/hero_1@2x.png'
			));
		}

		@include breakpoint(breakpoint_s) {
			background-image: url('../assets/images/hero/hero_2.png');

			@include bg_resolution((
				2: '../assets/images/hero/hero_2@2x.png'
			));
		}

		@include breakpoint(breakpoint_m) {
			background-image: url('../assets/images/hero/hero_3.png');

			@include bg_resolution((
				2: '../assets/images/hero/hero_3@2x.png'
			));
		}

		@include breakpoint(breakpoint_l) {
			background-image: url('../assets/images/hero/hero_4.png');

			@include bg_resolution((
				2: '../assets/images/hero/hero_4@2x.png'
			));
		}
	}

	&__about {
		grid-row: 7 / span 5;
		background-color: #001580;
	}

	&__projects {
		grid-row: 13 / span 17;
		background-color: #480080;
	}

	&__features {
		grid-row: 31 / span 5;
		background-color: #800057;
	}
}
