@use 'config' as *;

.section {
	$root: &;

	grid-column: #{$grid_full};

	&__hero {
		display: grid;
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: inherit;
		grid-row: 1 / span 6;
		gap: inherit;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(#{image-path($asset_image_hero)});
		background-size: cover;

		@include breakpoint(breakpoint_s, '<') {
			@include container();
		}

		#{$root}_inner {
			grid-row: 2 / span 3;
			grid-column: #{$grid_full};

			@include breakpoint(breakpoint_s) {
				grid-column: 2 / -2;
			}

			@include breakpoint(breakpoint_m) {
				grid-column: 2 / span 3;
			}
		}
	}

	&__about {
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		grid-template-columns: inherit;
		grid-row: 7 / span 5;
		gap: inherit;

		@include breakpoint(breakpoint_s, '<') {
			@include container();
		}

		#{$root}_inner {
			grid-column: #{$grid_full};

			@include breakpoint(breakpoint_s) {
				grid-column: 2 / -2;
			}

			&__start {
				grid-row: 2 / span 3;

				// stylelint-disable-next-line max-nesting-depth
				@include breakpoint(breakpoint_m) {
					grid-row: 2 / -1;
					grid-column: 2 / span 2;
				}
			}

			&__end {
				grid-row: 5 / -1;

				// stylelint-disable-next-line max-nesting-depth
				@include breakpoint(breakpoint_m) {
					grid-row: 2 / -2;
					grid-column: 5 / span 3;
				}
			}
		}
	}

	&__projects {
		grid-row: 13 / span 17;
		background-color: #480080;
	}

	&__features {
		grid-row: 31 / span 5;
		background-color: #800057;
	}
}
