@use 'config' as *;

.footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	// height: 800px;
	background-color: rgb(237, 20, 61, 0.7);

	@include breakpoint(breakpoint_s) {
		background-color: #f5f5dc;
	}

	@include breakpoint(breakpoint_m) {
		background-color: #a52a2a;
	}

	@include breakpoint(breakpoint_l) {
		background-color: #7fff00;
	}

	@include breakpoint(breakpoint_xl) {
		background-color: rgb(237, 20, 61, 0.7);
	}

	&_text {
		font-weight: 900;
	}

	&_copy {
		margin-inline-start: auto;
	}
}
