@use 'config' as *;

.footer {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 800px;
	background-color: rgb(237, 20, 61, 0.7);

	@include breakpoint(s) {
		background-color: #f5f5dc;
	}

	@include breakpoint(m) {
		background-color: #a52a2a;
	}

	@include breakpoint(l) {
		background-color: #7fff00;
	}

	@include breakpoint(xl) {
		background-color: rgb(237, 20, 61, 0.7);
	}

	&__text {
		font-weight: 900;
	}

	&__copy {
		margin-left: auto;
	}
}
